body {
  margin: 0;
  padding: 0;
  background-color: rgb(235, 235, 235);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
  padding: 25px 0;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border-radius: 20px;
  background-color: rgb(250, 250, 250);
}

.Section {
  width: 90%;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
  padding: 25px 25px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15), 0 -5px 30px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 20px;
}

.formData {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.formData > div {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.formData > div > label {
  padding-left: 0.5rem;
}

.formData > div > input {
  height: 2rem;
  width: 100%;
  margin: 0.5rem;
}

.formData > div > textarea {
  width: 100%;
  height: 4rem;
  margin: 0.5rem;
}
.addCancelDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0.5rem;
}

input,
textarea {
  border: #aaa solid 1px;
  border-radius: 5px;
}

button {
  border: none;
  background-color: #aaa;
  height: 2rem;
  width: 10rem;
  margin: 0.5rem;
  border-radius: 5px;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.previewDiv {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 80%;
  padding: 2rem;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15), 0 -5px 30px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 20px;
  line-height: 0.85rem;
}

.previewDiv > div > h3 {
  padding-left: 2rem;
}

.previewDiv > div > p {
  padding-left: 3rem;
}
